<div class="nav" ng-controller="MembersController">
	<ul>
<!-- 		<li class="dripicon">
			<a ng-href="#/login">&#xe071;</a>
			<p class="navparagraph">LOG IN</p>
		</li> -->
		<li class="dripicon">
			<a ng-href="#/team" >&#xe082;</a>
			<p class="navparagraph">TEAM</p>
		</li>
		<li class="dripicon">
			<a ng-href="#/register">&#xe065;</a>
			<p class="navparagraph">ADD</p>
		</li>
		<li class="dripicon">
			<a ng-href="#/help">&#xe072;</a>
			<p class="navparagraph">HELP</p>
<!-- 		</li>
		<li class="dripicon">
			<a ng-click="logout()">&#xe012;</a>
			<p class="navparagraph">LOGOUT</p>
		</li> -->
	</ul>
</div>